
.pirate_head{
  width: 50px;
  height: 50px;
  mask-image: url('../images/enemies/char1/pirate-captain.svg');
}
.pirate_body{
  width: 50px;
  height: 50px;
  mask-image: url('../images/enemies/char1/pirate-coat.svg');
}
.pirate_legs{
  width: 40px;
  height: 40px;
  mask-image: url('../images/enemies/char1/pirate-wooden-pegleg.svg');
}
.pirate_hook{
  width: 40px;
  height: 40px;
  mask-image: url('../images/enemies/char1/pirate-hook.svg');
}
.astro_head{
  width: 40px;
  height: 40px;
  mask-image: url('../images/enemies/char2/astronaut-helmet.svg');
}
.astro_fist{

  width: 35px;
  height: 35px;
  mask-image: url('../images/enemies/char2/mailed-fist.svg');
}
.astro_body{
  width: 50px;
  height: 50px;
  mask-image: url('../images/enemies/char2/trench-body-armor.svg');
}
.astro_legs{
  width: 40px;
  height: 40px;
  mask-image: url('../images/enemies/char2/steeltoe-boots.svg');
}
.barbarian_head{
  width: 45px;
  height: 45px;
  mask-image: url('../images/enemies/char3/barbarian.svg');
}
.barbarian_weapon{
  width: 45px;
  height: 45px;
  mask-image: url('../images/enemies/char3/stone-axe.svg');
}
.barbarian_body{
  width: 45px;
  height: 45px;
  mask-image: url('../images/enemies/char3/muscular-torso.svg');
}
.barbarian_legs{
  width: 40px;
  height: 40px;
  mask-image: url('../images/enemies/char3/loincloth.svg');
}
.skelet_head{
  width: 45px;
  height: 45px;
  mask-image: url('../images/enemies/char4/fanged-skull.svg');
}
.skelet_weapon{
  width: 40px;
  height: 40px;
  mask-image: url('../images/enemies/char4/bone-mace.svg');
}
.skelet_body{
  width: 40px;
  height: 40px;
  mask-image: url('../images/enemies/char4/ribcage.svg');
}
.skelet_legs{
  width: 45px;
  height: 45px;
  mask-image: url('../images/enemies/char4/boots.svg');
}
.dwarf_head{
  width: 50px;
  height: 50px;
  mask-image: url('../images/enemies/char5/dwarf-face.svg');
}
.dwarf_weapon{
  width: 45px;
  height: 45px;
  mask-image: url('../images/enemies/char5/thor-hammer.svg');
}
.dwarf_body{
  width: 40px;
  height: 40px;
  mask-image: url('../images/enemies/char5/plastron.svg');
}
.dwarf_legs{
  width: 35px;
  height: 35px;
  mask-image: url('../images/enemies/char5/metal-skirt.svg');
}

.ogr_head{
  width: 40px;
  height: 40px;
  mask-image: url('../images/enemies/char6/ogre.svg');
}
.ogr_weapon{
  width: 45px;
  height: 45px;
  mask-image: url('../images/enemies/char6/wood-club.svg');
}
.ogr_body{
  width: 50px;
  height: 50px;
  mask-image: url('../images/enemies/char6/muscular-torso.svg');
}
.ogr_legs{
  width: 40px;
  height: 40px;
  mask-image: url('../images/enemies/char6/loincloth.svg');
}
.executor_head{
  width: 50px;
  height: 50px;
  mask-image: url('../images/enemies/char7/executioner-hood.svg');
}
.executor_weapon{
  width: 45px;
  height: 45px;
  mask-image: url('../images/enemies/char7/battered-axe.svg');
}
.executor_body{
  width: 45px;
  height: 45px;
  mask-image: url('../images/enemies/char7/muscular-torso.svg');
}
.executor_legs{
  width: 45px;
  height: 45px;
  mask-image: url('../images/enemies/char7/armored-pants.svg');
}
.mummy_head{
  width: 45px;
  height: 45px;
  mask-image: url('../images/enemies/char8/mummy-head.svg');
}
.mummy_weapon{
  width: 45px;
  height: 45px;
  mask-image: url('../images/enemies/char8/severed-hand.svg');
}
.mummy_body{
  width: 40px;
  height: 40px;
  mask-image: url('../images/enemies/char8/ribcage.svg');
}
.mummy_legs{
  width: 45px;
  height: 45px;
  mask-image: url('../images/enemies/char8/trousers.svg');
}
.grandF_head{
  width: 45px;
  height: 45px;
  mask-image: url('../images/enemies/char9/wizard-face.svg');
}
.grandF_weapon{
  width: 45px;
  height: 45px;
  mask-image: url('../images/enemies/char9/shepherds-crook.svg');
}
.grandF_body{
  width: 50px;
  height: 50px;
  mask-image: url('../images/enemies/char9/shirt.svg');
}
.grandF_legs{
  width: 40px;
  height: 40px;
  mask-image: url('../images/enemies/char9/trousers.svg');
}
.goblin_head{
  width: 50px;
  height: 50px;
  mask-image: url('../images/enemies/char12/goblin-head.svg');
}
.goblin_weapon{
  width: 45px;
  height: 45px;
  mask-image: url('../images/enemies/char12/bowie-knife.svg');
}
.goblin_body{
  width: 40px;
  height: 40px;
  mask-image: url('../images/enemies/char12/heart-armor.svg');
}
.goblin_legs{
  width: 35px;
  height: 35px;
  mask-image: url('../images/enemies/char12/armored-pants.svg');
}
.cop_head{
  width: 45px;
  height: 45px;
  mask-image: url('../images/enemies/char13/police-officer-head.svg');
}
.cop_weapon{
  width: 45px;
  height: 45px;
  mask-image: url('../images/enemies/char13/telescopic-baton.svg');
}
.cop_body{
  width: 45px;
  height: 45px;
  mask-image: url('../images/enemies/char13/kevlar-vest.svg');
}
.cop_legs{
  width: 45px;
  height: 45px;
  mask-image: url('../images/enemies/char13/steeltoe-boots.svg');
}