.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.wrapper{
  display: flex;
  max-width: 510px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.box{
  display: flex;
  width: 255px;
  height: 250px;
  flex-direction: column;
  padding: 10px;
  border: orange 2px solid;
  border-radius: 3px;
  background-color: rgb(1, 50, 50);
  align-items: flex-start;
}
.row{
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.btn_container{
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
}
.killContainer{
  display: flex;
  margin: 0 auto;
  height: 100%;
  padding: 3px;
  width: 200px;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}
.icoContainer{
  display: flex;
  width: 22px;
  margin: 0 2px;
  height: 22px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid orange;
  background: rgb(1, 40, 40);
}
.ico{
  width: 16px !important;
  height: 16px !important;
  background-color: orange;
}

.row button{
  width: 45px;
  cursor: pointer;
  height: 15px;
  background-color: orange;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: rgb(22,22,22);
  font-weight: 900;
  font-size: 14px;
  color: rgb(1, 50, 50);
  margin: 0 2px;
}
.inventory{
  min-width: 255px;
  flex-wrap: wrap;
  width: 100%;
  background-color: rgb(1, 50, 50);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  border: orange 2px solid;
}
.bigBtn{
  width: 100px;
  cursor: pointer;
  height: 25px ;
  background-color: orange;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: rgb(22,22,22);
  box-shadow: 0 0 8px 1px rgb(22,22,22);
  font-weight: 900;
  font-size: 15px;
  color: rgb(1, 50, 50);
}
.bigBtn:hover{
  box-shadow: 0 0 16px 1px rgb(22,22,22)
}
.activeBtn{
  width: 100px;
  cursor: pointer;
  height: 25px ;
  background-color: rgb(1, 50, 50);
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: orange 2px solid;
  box-shadow: 0 0 8px 1px rgb(111,111,111) ;
  font-weight: 900;
  font-size: 15px;
  color:orange ;
}
.activeBtn:hover{

  box-shadow: 0 0 16px 1px rgb(111,111,111) ;
}
.bigBtnContainer{
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.hide{
  display: none;
}

