.ico_attack{
  width: 20px;
  transform: scale(-1, 1);
  height: 20px;
  background-color: orange;
  mask-image: url('../../../../assets/images/profile/crossed-axes.svg');
}
.ico_defence{
  width: 20px;
  transform: scale(-1, 1);
  height: 20px;
  background-color: orange;
  mask-image: url('../../../../assets/images/profile/checked-shield.svg');
}
.ico_hp{
  width: 20px;
  transform: scale(-1, 1);
  height: 20px;
  background-color: orange;
  mask-image: url('../../../../assets/images/profile/heart-plus.svg');
}
.ico_coin{
  width: 20px;
  transform: scale(-1, 1);
  height: 20px;
  background-color: orange;
  mask-image: url('../../../../assets/images/profile/coins.svg');
}
.ico_killed{
  width: 20px;
  transform: scale(-1, 1);
  height: 20px;
  background-color: orange;
  mask-image: url('../../../../assets/images/profile/backstab.svg');
}
.ico_record{
  width: 20px;
  transform: scale(-1, 1);
  height: 20px;
  background-color: orange;
  mask-image: url('../../../../assets/images/profile/swords-emblem.svg');
}
.ico_damage{
  width: 20px;
  transform: scale(-1, 1);
  height: 20px;
  background-color: orange;
  mask-image: url('../../../../assets/images/profile/hammer-drop.svg');
}
.ico_exp{
  width: 20px;
  transform: scale(-1, 1);
  height: 20px;
  background-color: orange;
  mask-image: url('../../../../assets/images/profile/book-cover.svg');
}
.ico_lvl{
  width: 20px;
  transform: scale(-1, 1);
  height: 20px;
  background-color: orange;
  mask-image: url('../../../../assets/images/profile/achievement.svg');
}
.ico_name{
  width: 20px;
  transform: scale(-1, 1);
  height: 20px;
  background-color: orange;
  mask-image: url('../../../../assets/images/profile/person.svg');
}