.container{
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  border-radius: 3px;
  background-color: none;
  border: orange 2px solid;
}
.miss{
  font-size: 16px;
  color: lightgoldenrodyellow;
  opacity: 0;
}
.textContainer{
  display: flex;
  padding: 0 5px;
  align-items: center;
  justify-content: center;
  height: 50px;
}
.wrapper{
  display: flex;
  align-items: center;
  justify-content:flex-end;
  flex-direction: row;
}
.wrapperEnemy{
  display: flex;
  align-items: center;
  justify-content:flex-start;
  flex-direction: row;
}
.damage{
  color:red;
  font-size: 18px;
  font-weight: 600;
  opacity: 0;
  
}
@keyframes show{
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.active{
  animation: show 2s linear;
}