.baby_face{
  width: 50px;
  height: 50px;
  transform: scale(-1, 1);
  mask-image: url('../../../assets/images/char10/baby-face.svg');
  background-color: white;
}
.spoon{
  width: 40px;
  height: 40px;
  mask-image: url('../../../assets/images/char10/spoon.svg');
}

.polo_shirt{
  width: 50px;
  height: 50px;
  mask-image: url('../../../assets/images/char10/polo-shirt.svg');
}
.rock{
  width: 35px;
  height: 35px;
  mask-image: url('../../../assets/images/char10/rock.svg');
}
.trousers{
  width: 50px;
  height: 50px;
  mask-image: url('../../../assets/images/char10/trousers.svg');
}
.pirate_head{
  width: 50px;
  height: 50px;
  mask-image: url('../../../assets/images/char1/pirate-captain.svg');
}
.pirate_body{
  width: 50px;
  height: 50px;
  mask-image: url('../../../assets/images/char1/pirate-coat.svg');
}
.pirate_legs{
  width: 40px;
  height: 40px;
  mask-image: url('../../../assets/images/char1/pirate-wooden-pegleg.svg');
}
.pirate_hook{

  transform: scale(-1, 1);
  width: 40px;
  height: 40px;
  mask-image: url('../../../assets/images/char1/pirate-hook.svg');
}
.astro_head{
  width: 40px;
  height: 40px;
  mask-image: url('../../../assets/images/char2/astronaut-helmet.svg');
}
.astro_fist{

  width: 35px;
  height: 35px;
  mask-image: url('../../../assets/images/char2/mailed-fist.svg');
}
.astro_body{
  width: 50px;
  height: 50px;
  mask-image: url('../../../assets/images/char2/trench-body-armor.svg');
}
.astro_legs{
  width: 40px;
  height: 40px;
  mask-image: url('../../../assets/images/char2/steeltoe-boots.svg');
}
.barbarian_head{
  width: 45px;
  height: 45px;
  mask-image: url('../../../assets/images/char3/barbarian.svg');
}
.barbarian_weapon{

  transform: scale(-1, 1);
  width: 45px;
  height: 45px;
  mask-image: url('../../../assets/images/char3/stone-axe.svg');
}
.barbarian_body{
  width: 45px;
  height: 45px;
  mask-image: url('../../../assets/images/char3/muscular-torso.svg');
}
.barbarian_legs{
  width: 40px;
  height: 40px;
  mask-image: url('../../../assets/images/char3/loincloth.svg');
}
.skelet_head{
  width: 45px;
  height: 45px;
  mask-image: url('../../../assets/images/char4/fanged-skull.svg');
}
.skelet_weapon{

  transform: scale(-1, 1);
  width: 40px;
  height: 40px;
  mask-image: url('../../../assets/images/char4/bone-mace.svg');
}
.skelet_body{
  width: 40px;
  height: 40px;
  mask-image: url('../../../assets/images/char4/ribcage.svg');
}
.skelet_legs{
  width: 45px;
  height: 45px;
  mask-image: url('../../../assets/images/char4/boots.svg');
}
.dwarf_head{
  width: 50px;
  height: 50px;
  mask-image: url('../../../assets/images/char5/dwarf-face.svg');
}
.dwarf_weapon{

  transform: scale(-1, 1);
  width: 45px;
  height: 45px;
  mask-image: url('../../../assets/images/char5/thor-hammer.svg');
}
.dwarf_body{
  width: 40px;
  height: 40px;
  mask-image: url('../../../assets/images/char5/plastron.svg');
}
.dwarf_legs{
  width: 35px;
  height: 35px;
  mask-image: url('../../../assets/images/char5/metal-skirt.svg');
}
.button_cross{
  width: 25px;
  height: 25px;
  mask-image: url('../../../assets/images/buttons/x-mark.svg');
  background-color: crimson;
}
.button_leave{
  width: 30px;
  height: 30px;
  mask-image: url('../../../assets/images/buttons/truce.svg');
  background-color: white ;
}
.button_win{
  width: 30px;
  height: 30px;
  mask-image: url('../../../assets/images/buttons/coins.svg');
  background-color: gold ;
}
.button_kill{
  width: 30px;
  height: 30px;
  mask-image: url('../../../assets/images/buttons/cash.svg');
  background-color: goldenrod ;
}
.button_die{
  width: 30px;
  height: 30px;
  mask-image: url('../../../assets/images/buttons/ancient-sword.svg');
  background-color: rgb(63, 112, 79) ;
}
.ogr_head{
  width: 40px;
  height: 40px;
  mask-image: url('../../../assets/images/char6/ogre.svg');
}
.ogr_weapon{

  transform: scale(-1, 1);
  width: 45px;
  height: 45px;
  mask-image: url('../../../assets/images/char6/wood-club.svg');
}
.ogr_body{
  width: 50px;
  height: 50px;
  mask-image: url('../../../assets/images/char6/muscular-torso.svg');
}
.ogr_legs{
  width: 40px;
  height: 40px;
  mask-image: url('../../../assets/images/char6/loincloth.svg');
}
.executor_head{
  width: 50px;
  height: 50px;
  mask-image: url('../../../assets/images/char7/executioner-hood.svg');
}
.executor_weapon{

  transform: scale(-1, 1);
  width: 45px;
  height: 45px;
  mask-image: url('../../../assets/images/char7/battered-axe.svg');
}
.executor_body{
  width: 45px;
  height: 45px;
  mask-image: url('../../../assets/images/char7/muscular-torso.svg');
}
.executor_legs{
  width: 45px;
  height: 45px;
  mask-image: url('../../../assets/images/char7/armored-pants.svg');
}
.mummy_head{
  width: 45px;
  height: 45px;
  mask-image: url('../../../assets/images/char8/mummy-head.svg');
}
.mummy_weapon{

  width: 45px;
  height: 45px;
  mask-image: url('../../../assets/images/char8/severed-hand.svg');
}
.mummy_body{
  width: 40px;
  height: 40px;
  mask-image: url('../../../assets/images/char8/ribcage.svg');
}
.mummy_legs{
  width: 45px;
  height: 45px;
  mask-image: url('../../../assets/images/char8/trousers.svg');
}
.grandF_head{
  width: 45px;
  height: 45px;
  mask-image: url('../../../assets/images/char9/wizard-face.svg');
}
.grandF_weapon{
  transform: scale(-1, 1);
  width: 45px;
  height: 45px;
  mask-image: url('../../../assets/images/char9/shepherds-crook.svg');
}
.grandF_body{
  width: 50px;
  height: 50px;
  mask-image: url('../../../assets/images/char9/shirt.svg');
}
.grandF_legs{
  width: 40px;
  height: 40px;
  mask-image: url('../../../assets/images/char9/trousers.svg');
}
.goblin_head{
  width: 50px;
  height: 50px;
  mask-image: url('../../../assets/images/char12/goblin-head.svg');
}
.goblin_weapon{
  width: 45px;
  height: 45px;
  mask-image: url('../../../assets/images/char12/bowie-knife.svg');
}
.goblin_body{
  width: 40px;
  height: 40px;
  mask-image: url('../../../assets/images/char12/heart-armor.svg');
}
.goblin_legs{
  width: 35px;
  height: 35px;
  mask-image: url('../../../assets/images/char12/armored-pants.svg');
}
.cop_head{
  width: 45px;
  height: 45px;
  mask-image: url('../../../assets/images/char13/police-officer-head.svg');
}
.cop_weapon{
  transform: scale(-1, 1);
  width: 45px;
  height: 45px;
  mask-image: url('../../../assets/images/char13/telescopic-baton.svg');
}
.cop_body{
  width: 45px;
  height: 45px;
  mask-image: url('../../../assets/images/char13/kevlar-vest.svg');
}
.cop_legs{
  width: 45px;
  height: 45px;
  mask-image: url('../../../assets/images/char13/steeltoe-boots.svg');
}