.container{
  display: flex;
  flex-direction: column;
  
  width: 100%;
}
.text{
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 500;
  align-items: center;
}
.text span{
  padding: 0 3px;
}
.combo{
  font-size: 25px;
  font-weight: 700;
}
.wrapper{
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  width: 100%;
}

.box{
  display: flex;
  height: 51px;
  width: 100%;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
}
.attack{
  width: 40px;
  height: 40px;
  margin: 0 5px;
  border-radius: 50%;
  border:rgb(66, 66, 66) 1px solid;
  display: flex;
  box-shadow: 0 0 5px 1px  black;
  align-items: center;
  justify-content: center;
  background-color: rgb(66, 66, 66);
}
.attack:hover{
  box-shadow: 0 0 8px 1px  black;
}
.attack:active{
  box-shadow: 0 0 5px 1px  black;
}
.defence{
  width: 40px;
  height: 40px;
  margin: 0 5px;
  border-radius: 50%;
  border:rgb(66, 66, 66) 1px solid;
  display: flex;
  box-shadow: 0 0 5px 1px  black;
  align-items: center;
  justify-content: center;
  background-color: rgb(66, 66, 66);
}
.defence:hover{
  box-shadow: 0 0 8px 1px  black;
}
.defence:active{
  box-shadow: 0 0 5px 1px  black;
}

.img{
  width: 30px;
  height: 30px;
}
.defence_img{
  mask-image: url('../../../../../assets/images/checked-shield.svg');
  background-color: orange;
  width: 24px;
  height: 24px;
}
.hide{
  visibility: hidden;
}

