.container{
  display: flex;
  position: relative;
  flex-wrap: wrap;
  background: rgba(1,40,40,0.5);
  justify-content: flex-start;
  align-items: flex-start;
}

@keyframes berserk {
  0% {
    background: rgb(1,40,40);
  background: radial-gradient(circle, rgba(1,40,40,0.5) 0%, rgba(1,40,40,0.5) 58%, rgba(65,1,1,0.8) 96%, rgba(80,0,0,0.7) 100%);

  }
  12% {
    background: rgb(1,40,40);
    background: radial-gradient(circle, rgba(1,40,40,0.5) 0%, rgba(1,40,40,0.5) 48%, rgba(65,1,1,0.8) 92%, rgba(80,0,0,0.7) 100%);
  }
  27% {
    background: rgb(1,40,40);
  background: radial-gradient(circle, rgba(1,40,40,0.5) 0%, rgba(1,40,40,0.5) 54%, rgba(65,1,1,0.8) 96%, rgba(80,0,0,0.7) 100%);
    
  }
  39% {
    background: rgb(1,40,40);
background: radial-gradient(circle, rgba(1,40,40,0.5) 0%, rgba(1,40,40,0.5) 48%, rgba(65,1,1,0.8) 92%, rgba(80,0,0,0.7) 100%);
  }
  51% {
    background: rgb(1,40,40);
  background: radial-gradient(circle, rgba(1,40,40,0.5) 0%, rgba(1,40,40,0.5) 58%, rgba(65,1,1,0.8) 96%, rgba(80,0,0,0.7) 100%); 

  }
  100% {
    background: rgb(1,40,40);
  background: radial-gradient(circle, rgba(1,40,40,0.5) 0%, rgba(1,40,40,0.5) 58%, rgba(65,1,1,0.8) 96%, rgba(80,0,0,0.7) 100%);
  }
}
.berserk{
  background: rgb(1,40,40);
  background: radial-gradient(circle, rgba(1,40,40,0.5) 0%, rgba(1,40,40,0.5) 58%, rgba(65,1,1,0.8) 96%, rgba(80,0,0,0.7) 100%);
  animation-duration: 1.5s;
  animation-name: berserk;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.half{
  background: rgb(1,40,40);
  background: radial-gradient(circle, rgba(1,40,40,0.5) 0%, rgba(1,40,40,0.5) 65%, rgba(78, 68, 8, 0.8) 96%, rgba(78, 68, 8, 0.8) 100%);
}
.btn_container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.boxL{
  display: flex;
  height: 365px;
  min-width: 200px;
  flex-direction: column;
  
  border: solid 4px orange;
  border-radius: 5px 0 0 5px;
  border-right-style: none;
  border-left-style: none;
  padding: 10px;
  box-sizing: border-box;
  align-items: center;
}
.boxC{
  display: flex;
  height: 365px;
  min-width: 200px;
  flex-direction: column;
  color: orange;
  border: solid 4px orange;
  border-right-style: none;
  border-left-style: none;
  padding: 10px;
  box-sizing: border-box;
  align-items: center;
}
.boxR{
  display: flex;
  height: 365px;
  min-width: 200px;
  flex-direction: column;
  border: solid 4px orange;
  border-radius: 0 5px 5px 0;
  border-left-style: none;
  border-right-style: none;
  padding: 10px;
  box-sizing: border-box;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .boxC{
    min-width: 170px;
  }
  .boxL{
    min-width: 185px;
    border-left-style: none;
    padding: 10px 0;
  }
  .boxR{
    min-width: 185px;
    border-right-style: none;
    padding: 10px 0;
  }
}

