.container{
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.btn_container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper{
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  width: 100%;
}

.boxL{
  display: flex;
  height: 365px;
  min-width: 200px;
  flex-direction: column;
  background-color: rgb(69, 69, 69);
  border: solid 4px orange;
  border-radius: 5px 0 0 5px;
  border-right-style: none;
  padding: 10px;
  box-sizing: border-box;
  align-items: center;
}
.boxC{
  display: flex;
  height: 365px;
  min-width: 200px;
  flex-direction: column;
  color: orange;
  background-color: rgb(69, 69, 69);
  border: solid 4px orange;
  border-right-style: none;
  border-left-style: none;
  padding: 10px;
  box-sizing: border-box;
  align-items: center;
}
.boxR{
  display: flex;
  height: 365px;
  min-width: 200px;
  flex-direction: column;
  background-color: rgb(69, 69, 69);
  border: solid 4px orange;
  border-radius: 0 5px 5px 0;
  border-left-style: none;
  padding: 10px;
  box-sizing: border-box;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .boxC{
    min-width: 170px;
  }
  .boxL{
    min-width: 185px;
    padding: 10px 0;
  }
  .boxR{
    min-width: 185px;
    padding: 10px 0;
  }
}

