.container{
  display: flex;
  margin: 20px;
}
.link{
  margin: 0 10px;
  text-decoration: none;
  color: white;
}
.profile{
  width: 50px;
  height: 50px;
  mask-image: url('../../../assets/images/vitruvian-man.svg');
  background-color: white;
}
.village{
  width: 50px;
  height: 50px;
  mask-image: url('../../../assets/images/hobbit-dwelling.svg');
  background-color: white;
}
.dungeon{
  width: 50px;
  height: 50px;
  mask-image: url('../../../assets/images/cave-entrance.svg');
  background-color: white;
}
.pvp{
  width: 50px;
  height: 50px;
  mask-image: url('../../../assets/images/medieval-barracks.svg');
  background-color: white;
}
.crypt{
  width: 50px;
  height: 50px;
  mask-image: url('../../../assets/images/ancient-sword.svg');
  background-color: white;
}
.active{
  color: yellow;
}
.text{
  width:80%;  
}