.container{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 20px;
}
.link{
  margin: 0 10px;
  position: relative;
  text-decoration: none;
  color: white;
}
.village{
  width: 50px;
  height: 50px;
  mask-image: url('../../../assets/images/Header/huts-village.svg');
  background-color: white;
}
.arena{
  width: 50px;
  height: 50px;
  mask-image: url('../../../assets/images/Header/coliseum.svg');
  background-color: white;
}
.pvp{
  width: 50px;
  height: 50px;
  mask-image: url('../../../assets/images/Header/medieval-barracks.svg');
  background-color: white;
}
.crypt{
  width: 50px;
  height: 50px;
  mask-image: url('../../../assets/images/Header/stone-bust.svg');
  background-color: white;
}
