.container{
  display: flex;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,.4);
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.box{
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 5px;
  background-color: gray;
}
.row span{
  padding:0 5px;
  font-size: 20px;
  color: orange;
}
